#navMenu{
    display: none;
}
#navMenu span{
    display: block;
    width: 28px;
    height: 2px;
    border-radius: 9999px;
    background-color: #000000;
}
#navMenu span:not(:last-child) {
    margin-bottom: 7px;
}
#navMenu, #navMenu span{
    transition: all 0.25s ease-in-out;
}
/* estilização */
#navMenu.active{
    transition-delay: 0.5s;
    
}



@media(width <= 430px)  {

    #navMenu{
        display: block;
    }
    #hamburguer ul{
        display: none;
    }
    #hamburguer.active{
       flex-direction: column;     
    }

    #hamburguer.active ul {
        display: flex;
        position: absolute;
        top: 10vh;
        right: 7%;
        z-index: 10;

    }
    #hamburguer.active ul li {
        padding: 0rem 0.5rem;
    }

    #navMenu.active span:nth-child(2) {
        opacity: 0;

    }

    #navMenu.active span:nth-child(1) {
        transform: rotate(-45deg) translate(-7px, 7px);
        
    }
    
    #navMenu.active span:nth-child(3) {
        transform: rotate(45deg) translate(-6px, -6px);
    }

}