@media(width <= 1000px)  {
    .container{
        width: 85%;
    }

}

@media(width <= 800px)  {
    .container{
        width: 90%;
    }
    h1{
        font-size: 2.8rem;
    }
}


@media(width <= 670px) {
    html{
        font-size: 90%;
    }
    .container{
        padding: 0rem;
        width: 95%;
    }
    header{
        margin: 0.8rem;
    }
    .wrap{
        flex-wrap: wrap;
    }

    .apresentacao {
        flex-direction: column;
    }
    .texto{
        width: 90%;
    }
    .skills div{
        justify-content: center;
    }
    .projetos div img{
        max-width: 250px;
        width: 70vw;
    }
    .projetos div p{
        width: 70vw;
    }

}

@media(width <= 350px) {
    html{
        font-size: 85%;
    }
    .apresentacao img {
        min-width: 200px;
    }
    footer ul{
        min-width: 200px;
    }
    footer div{
        display: flex;
        flex-direction: column-reverse;
    }
}
@media(width < 310px) {
    html{
        font-size: 80%;
    }
    h1{
        font-size: 2.5rem;
    }
}