@media(width <= 968px)  {
    html{
        font-size: 90%;
    }
    .container{
        width: 85%;
    }

}

@media(width <= 868px)  {
    .container{
        width: 90%;
    }
}

@media(width <= 768px)  {
    .container{
        width: 95%;
    }
}

@media(width <= 650px) {
    html{
        font-size: 80%;
    }
    .container{
        width: 100%;
    }
    .wrap{
        flex-wrap: wrap;
    }

    .apresentacao {
        flex-direction: column;
    }
    .apresentacao .texto{
        width: 90%;
    }
    .skills div{
        justify-content: center;
    }
    .projetos div img{
        max-width: 250px;
        width: 70vw;
    }
    .projetos div p{
        width: 70vw;
    }

}

@media(width <= 320px) {
    html{
        font-size: 70%;
    }
}