@media(width <= 1000px)  {
    .container{
        width: 85%;
    }

}

@media(width <= 800px)  {
    html{
        font-size: 95%;
    }
    .container{
        width: 90%;
    }
    h1{
        font-size: 2.5rem;
    }
    .skills div img{
        min-width: 80px;
    }
    .projetos div {
        width: 80vw;
    }
    .projetos div p{
        text-align: center;
        
    }

}
@media(width <= 680px) {
    html{
        font-size: 90%;
    }
    .container{
        width: 95%;
    }
    .wrap{
        flex-wrap: wrap;
    }
    .skills div p{
        width: 100%;
    }
    .skills div{
        justify-content: center;
    }
}

@media(width <= 550px) {
    .container{
        width: 100%;
        padding: 0rem;
    }
    .apresentacao {
        flex-direction: column;
    }
    .texto{
        width: 90%;
    }
    header{
        margin: 0rem 0.5rem;
    }

}

@media(width <= 400px) {
    html{
        font-size: 85%;
    }
    footer ul{
        min-width: 200px;
    }
    footer div{
        display: flex;
        flex-direction: column-reverse;
    }

}
@media(width < 300px) {
    html{
        font-size: 80%;
    }
    .apresentacao img {
        min-width: 200px;
    }

}