@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
body{
    background-color: #F4F3EE;
    box-sizing: border-box;
}
header{
    font-family: 'Roboto', sans-serif;
    padding: 0.5rem 0rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header nav{
    margin: auto 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}
header nav  ul{
    display: flex;
    align-items: center;
    list-style: none;
}
header nav ul a{
    text-decoration: none;
    color: #000000;
    padding: 0rem 1rem;
}
.container{
    margin: auto;
    width: 80%;
    max-width: 1024px;
}
h1{
    width: 100%;
    text-align: center;
    font-size: 3rem;
}
/* PARTE DE APRESENTACAO */
.apresentacao{
    display: flex;
    justify-content: space-around;
    align-items: center;
    
}
.apresentacao div{
    display: flex;
    flex-direction: column;
    
}
.apresentacao img{
    width: 20vw;
    min-width: 200px;
}
.apresentacao .texto{
    text-align: center;
    width: 40vw;
}
/* PARTE DE EXIBICAO DE SKILLS*/
.skills{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.skills div{
    display: flex;
    align-items: center;
    justify-content: start;
}
.skills div img{
    min-width: 60px;
    margin: 20px;
    width: 7vw;
    border-radius: 50%;
}
/* PARTE DE PROJETOS */
.projetos{
    flex-wrap: wrap;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.projetos div{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.projetos div img{
    width: 20vw;
}
.projetos div p{
    width: 20vw;
    text-align: center;
   
}


