@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif&display=swap');
body{
    background-color: #F4F3EE;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    font-family: 'Noto Serif', serif;
}
.container{
    margin: auto;
    width: 75%;
    max-width: 1224px;
    padding: 1rem 0rem;
    
}
h1{
    width: 100%;
    text-align: center;
    font-size: 3rem;
}
p{
    font-family: 'Roboto', sans-serif;

}
/* HEADER */
header{
    margin-left: 0.8rem;
    font-family: 'Roboto', sans-serif;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header img{
    object-fit: contain;
    min-width: 80px;
    width: 7vw;
}
header nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}
header nav ul{
    font-weight: bold;
    display: flex;
    align-items: center;
    list-style: none;
}
header nav ul a{
    font-size: 1rem;
    text-decoration: none;
    color: #201F1B;
    padding: 1rem;
}
header nav ul a:hover{
    color: #fff;
    background-color: #201F1B;

}
/* PARTE DE APRESENTACAO */
#caixa-apresentacao{
    filter: drop-shadow(0 0 1px #000000);
    background-color: #d6dbe4
}
.apresentacao{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 0rem;
    
}
.apresentacao div{
    display: flex;
    flex-direction: column;
    align-items: center;
    
}
.apresentacao img{
    filter: drop-shadow(0 0 1px #000000);
    width: 30vw;
    min-width: 250px;
    max-width: 300px;
}
.texto{
    line-height: 1.5rem;
    text-align: center;
    width: 50vw;
    
}
.texto article{
    font-size: 1.2rem;
    color: #131E2F;
    word-spacing: 5px;
    font-weight: bolder;
}
/* PARTE DE EXIBICAO DE SKILLS*/
.skills{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.skills div{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: start;
}
.skills div img{
    max-width: 120px;
    object-fit: cover;
    margin: 20px;
    width: 7vw;
    border-radius: 50%;
}

/* PARTE DE PROJETOS */
.projetos{
    flex-wrap: wrap;
    display: flex;
    justify-content: space-around;
}
.projetos div{
    min-width: 200px;
    max-width: 360px;
    width: 20vw;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.projetos div img{
    filter: drop-shadow(0 0 4px #000000);
    object-fit: contain;
    width: 100%;
}
.projetos div p{
    width: 100%;
    text-align: center;
   
}
/* FOOTER */
footer{
    padding-top: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #201F1B;
    color: darkgray;
}
footer h3{
    color: #fff;
    opacity: 90%;
}
footer ul{
    width: 40%;
    min-width: 250px;
    padding: 0.5rem 0;
    display: flex;
    justify-content: space-around;
}
footer ul a{
    font-size: 2rem;
    list-style: none;
    color: #fff;
    padding: 0.5rem;
}
footer ul a:hover{
    color: #201F1B;
    background-color: #fff;
}
footer div{
    padding: 1rem 0rem;
    width: 100%;
    background-color: #181817;
    text-align: center;
}

