#navMenu{
    display: none;
}
#navMenu span{
    display: block;
    width: 28px;
    height: 2px;
    border-radius: 9999px;
    background-color: #000000;
}
#navMenu span:not(:last-child) {
    margin-bottom: 7px;
}
#navMenu, #navMenu span{
    transition: all 0.25s ease-in-out;
}
/* botao para baixar curriculo */
.apresentacao a{
    text-decoration: none;
    color: #000000;
    text-transform: uppercase;
    border: 2px solid #222;
    cursor: pointer;
    border-radius: 0.6em;
    font-family: 'Montserrat', sans-serif;
    font-size: 1rem;
    font-weight: bolder;
    line-height: 1;
    padding: 1.2em 2.8em;
    background-image: -webkit-linear-gradient(45deg, #222 50%, transparent 50%);
    background-image: linear-gradient(45deg, #222 50%, transparent 50%);
    background-position: 100%;
    background-size: 400%;
    -webkit-transition: background 300ms ease-in-out;
    transition: background 300ms ease-in-out;
    margin: 20px auto;
  
}

.apresentacao  a:hover,a:focus{
    color: #fff;
    outline: 0;
    background-position: 0;
}
/* animacao do article do .texto
.texto article{
    white-space: nowrap;
    overflow: hidden;
    animation: typewriter 2.5s steps(13) infinite alternate,
      blink 1000ms steps(13) infinite normal;
    border-right: 5px solid black;
}
    @keyframes typewriter {
        from {
          width: 0%;
        }
        to {
          width: 50%;
        }
      }
      @keyframes blink {
        from {
          border-color: black;
        }
        to {
          border-color: transparent;
        }
      }
*/
@media(width <= 420px)  {

    #navMenu{
        display: block;
    }
    #hamburguer ul{
        display: none;
        background-color: #222;
        width: 100vw;
        text-align: center;
        z-index: 10;
    }    

    #hamburguer.active ul {
        display: flex;
        flex-direction: column;
        position: absolute;
        top: 50px;
        right: 0;

    }
    #hamburguer.active ul a{
        color: #fff;
        text-align: center;
        padding: 2rem 0rem;
        font-size: 1.5rem;
        font-weight: 500;
    }

    #navMenu.active span:nth-child(2) {
        opacity: 0;

    }

    #navMenu.active span:nth-child(1) {
        transform: rotate(-45deg) translate(-7px, 7px);
        
    }
    
    #navMenu.active span:nth-child(3) {
        transform: rotate(45deg) translate(-6px, -6px);
    }

}